@import url('https://fonts.googleapis.com/css?family=Lalezar|Neuton:400,700|Open+Sans:400,600&display=swap');

* {
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5 {
    font-family: 'Neuton', serif;
}
button {
    font-family: 'Open Sans', sans-serif;
}
hr {
    height: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.container {
    width: 100%;
    max-width: 600px;
    padding: 0 15px;
    margin: auto;
    position: relative;
}
header {
    background-color: #ffeb3b;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    overflow: hidden;
}
header a {
    text-decoration: none;
}
header h1 {
    font-family: 'Lalezar', cursive;
    font-size: 36px;
    color: #000;
    text-align: center;
    padding: 0;
    margin: 0;
}
.quizzes-list,
.quizzes-list .quiz-item {
    list-style: none;
    padding: 0;
    margin: 0;
}
.quizzes-list .quiz-item a {
    background-color: #fff;
    color: #454545;
    text-decoration: none;
    border: 1px solid #d5d5d5;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.075);
    margin-bottom: 20px;
    display: block;
}
.quizzes-list .quiz-item img {
    display: block;
}
.quizzes-list .quiz-item h5 {
    font-size: 20px;
    color: #444;
    margin: 20px 30px;
}
.loading {
    text-align: center;
    margin: 50px 0;
    display: block;
    position: relative;
}
.loading-overlay {
    content: '';
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.loading-overlay .container {
    height: 100%;
}
.loading-overlay img {
    transform: translateY(-50%);
    margin: 0 auto;
    position: relative;
    top: 50%;
    display: block;
}
#quiz .quiz-title {
    font-size: 26px;
    margin: 0 0 30px;
}
#quiz .quiz-result {
    text-align: center;
    margin: 30px 0 10px;
    position: relative;
}
#quiz .quiz-result::before {
    content: '';
    background-color: #ffeb3b;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#quiz .quiz-result::before,
#quiz .quiz-result .quiz-result-loading {
    transition: opacity .3s linear;
    opacity: 1;
}
#quiz .quiz-result.show::before,
#quiz .quiz-result.show .quiz-result-loading {
    opacity: 0;
}
#quiz .quiz-result .quiz-result-loading {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    cursor: default;
}
#quiz .quiz-result canvas {
    max-width: 100%;
    display: block;
}
#quiz .quiz-action {
    text-align: center;
}
#quiz .quiz-action .btn-try-again {
    font-size: 15px;
    font-weight: 600;
    color: #454545;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
}
.btn:focus {
    outline: 0;
}
.btn-fb-share {
    width: 100%;
    background-color: #3b5998;
    color: #fff;
    border: 0;
    border: 1px solid #2d4473;
    border-radius: 7px;
    box-shadow: 0 20px 15px -15px rgba(0, 0, 0, .5);
    transition: background-color .15s ease-in-out;
    padding: 10px 15px 13px;
    cursor: pointer;
}
.btn-fb-share:hover {
    background-color: #4c70ba;
}
.btn-fb-share svg {
    font-size: 24px;
    vertical-align: bottom;
}
.btn-fb-share span {
    font-size: 16px;
    font-weight: 600;
    padding-left: 7px;
    line-height: normal;
}